
<div class="container">
    <div class="bg-light m-5 p-5 opacity">

        <h1 class="text-center text-danger font-weight-bold">
            חנות הנעליים שלנו
        </h1>
        <br />
        <hr />
        <br />
        <p style="direction:rtl; text-align:right;" class="text-danger">
            נמאס לכם מכאבים ברגליים?
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            רוצים לשלב יופי ונוחות?
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            בשביל זה אנחנו כאן!
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            נעים מאוד! הנעליים שלנו פה לא צריך לוותר על יופי בשביל נוחות.
        </p>
        <p style="direction:rtl; text-align:right;" class="text-danger">
            כאן תוכלו למצוא מגוון רחב של נעליים נוחות ומרשימות.
        </p>
        <br />
    </div>
</div>

